// Grid
$grid-columns: 12
$grid-gutter-width: 30px
$grid-gutter-width-base: 30px

$grid-gutter-widths: (xs: $grid-gutter-width-base, sm: $grid-gutter-width-base, md: $grid-gutter-width-base, lg: $grid-gutter-width-base, xl: $grid-gutter-width-base)

$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)
