.btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  height: 48px;
  max-width: 100%;
  margin: 0;
  border: 0;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  text-decoration: none;
  text-transform: none;
  background-image: none;
  cursor: pointer;
  overflow: hidden;
}
