extends ../pug/layout.pug

block meta
  title Главная

block content
  include ../pug/header.pug

  .container
    h1 Заголовок
    p Содержимое.

    svg(width="32", height="32")
      use(xlink:href="img/sprite.svg#temp-icon-right-arrow")

    .row
      .col-lg-4
        p col-lg-4 asd
      .col-lg-4
        p col-lg-4
      .col-lg-4
        p col-lg-4

    .row
      .col
        button.btn(type='button', data-modal-target='#modal-demo-01', data-modal='open') Показать модальное окно

  section.modal(id="modal-demo-01", tabindex='-1', aria-hidden='true')
    .modal__dialog
      .modal__content
        button(class="close  close--sm modal__close" type="button" aria-label="Закрыть" title="Закрыть" data-modal="close")
          span Закрыть
        .modal__body
          h3.modal__title Title
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima id voluptatibus unde placeat, repellat cumque voluptatem exercitationem nemo libero esse.
