extends ../pug/layout.pug

block meta
  title Главная

block content
  include ../pug/header.pug

  .container
    h1 Заголовок h1
    p Содержимое.

    p
      button.btn(type='button', data-modal-target='#modal-demo-01', data-modal='open')
        svg(width="32", height="32" fill="green")
          use(xlink:href="img/sprite.svg#temp-icon-right-arrow")
        | Показать модальное окно

    img(src="img/bg.jpg", alt="")

    svg(width="32", height="32")
      use(xlink:href="img/sprite.svg#temp-icon-right-arrow")

    .row
      .col-lg-4
        p col-lg-4
        ul
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
            ul
              li Lorem ipsum dolor sit amet.
              li Lorem ipsum dolor sit amet.
              li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
      .col-lg-4
        p col-lg-4
        ol
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
            ol
              li Lorem ipsum dolor sit amet.
              li Lorem ipsum dolor sit amet.
              li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
          li Lorem ipsum dolor sit amet.
      .col-lg-4
        p col-lg-4

  +modal('modal-demo-01', 'Заголовок', 'some')
    .modal__body
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima id voluptatibus unde placeat, repellat cumque voluptatem exercitationem nemo libero esse.
