extends ../pug/layout.pug

block meta
  title Главная

block content
  svg(width="32", height="32")
    use(xlink:href="img/sprite.svg#temp-icon-right-arrow")

  .container
    h1 Заголовок
    p Содержимое.

    .row
      .col-lg-4
        p col-lg-4 asd
      .col-lg-4
        p col-lg-4
      .col-lg-4
        p col-lg-4
